.topHeader {
	height: 40px;
	background: #e4e5e7;
}

.topHeader .tHAdress ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.topHeader .tHAdress ul li {
	float: left;
	margin-right: 15px;
}

.topHeader .tHAdress ul li a {
	line-height: 50px;
	text-decoration: none;
	color: #875f9a;
	font-size: 11pt;
	font-weight: 600;
	transition: color 150ms;
}

.topHeader .tHAdress ul li a:hover,
.topHeader .tHSocial ul li a:hover {
	color: #616161;
}

.topHeader .tHAdress ul li a i {
	margin-right: 5px;
}

.topHeader .tHSocial ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.topHeader .tHSocial ul li {
	float: right;
	margin-right: 15px;
}

.topHeader .tHSocial ul li a {
	line-height: 40px;
	text-decoration: none;
	font-size: 14pt;
	color: #999999;
	transition: color 150ms;
	border-radius: 50px;
}

@media only screen and (max-width: 420px) {
	.topHeader {
		display: none;
	}
}
