.menuRow1 {
    margin-top: 30px;
}
.menuRow1 ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menuRow1 ul li{
    float: left;
    margin-right: 20px;
}
.menuRow1 ul li:last-child{float: right;margin-right: 0;}
.menuRow1 ul li:last-child a {
    background: #812b8c;
    color: white;
    text-transform: uppercase;
    padding: 8px 15px;
    border-radius: 10px;
    text-align: center;
	font-weight: 600;
	transition: color 150ms;
}
.menuRow1 ul li:last-child a:hover {
   
color: #dfdfdf;
}
.menuRow1 ul li:last-child a i{
    border: none;
    margin-right: 0;
}
.menuRow1 ul li a{
    text-decoration: none;
    color: #999999;
    font-size: 13pt;
	font-weight: bold;
	transition: color 150ms;
}
.menuRow1 ul li a:hover{
    
color: #535353;
}
.menuRow1 ul li a i{
    border: 1px solid #dcdcdc;
    padding: 10px;
    border-radius: 50px;
    margin-right: 8px;
}
.thMenu .navbar-nav {
	height: 50px;
    line-height: 50px;
    background: #e1267e;
    width: 100%;
    margin-top: 40px;
}


.thMenu .nav-link {
	transition: color 150ms;
	padding-right: 8px !important;
	padding-left: 8px !important;
	/* border-right: 1px solid #cdcdcd; */
	padding-top: 0;
	padding-bottom: 0;
	text-transform: uppercase;
	font-weight: 600;
	color: #ffffff;
	font-size: 0.80rem;
}

.thMenu .nav-link:hover {
	color: #ffffff;
    background: #c488bb;
}

.thMenu .active  {
	color: #ffffff;
    background: #c488bb;
    border-top: 5px solid #782c8e;
}
.thMenu .active .nav-link {
	margin-top: -5px;
}

.thMenu .dropdown-menu {
	padding: 0;
	margin: 0;
	background-color: #e1267e;
	border: none;
	border-radius: inherit;
	left: 0;
	line-height: normal;
}

.thMenu .dropdown-menu a {
	padding: 7px;
	color: white;
	border-bottom: 1px dotted #adadad;
	font-size: 11pt;
	transition: background 250ms;
	text-transform: uppercase;
}

.thMenu .dropdown-menu a:hover,
.thMenu .dropdown-menu .active {
	color: #ffffff;
	background-color: #875f9d;
}

.thMenu .dropdown-menu a:last-child {
	border-bottom: none !important;
}
.mobileMenu {display: none;}
.mobileMenu ul{
    
list-style: none;
    
padding: 0;
    
margin: 0;
    
display: inline-block;
    
background: #875f9b;
    
width: 100%;
    
margin: 0 auto;
    
text-align: center;
}
.mobileMenu ul li{
    
float: left;
    
    
padding: 20px 0;
    
    
border-right: 1px solid white;
    
padding-left: 5.1%;
    
padding-right: 5.1%;
    
margin-left: 1.0%;
}
.mobileMenu ul li a{
    
color: white;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #f8f9fa;
}
@media only screen and (max-width: 415px) {
	.thMenu .navbar-nav {
		height: inherit !important;
		line-height: inherit !important;
	}
	.dnone {
		display: none;
	}
	.navbar-brand {
		width: 100%;
		text-align: center;
	}
	.thMenu .nav-link {
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
		border-right: none;
		color:white;
		border-bottom:2px solid white;
	}
	.navbar-toggler {
		margin: 0 auto;
		border: 2px solid #5c3f6b;
		margin-top: 10px;
		color: #5e3f6b;
		display: block;
	}
	.thMenu .dropdown-menu a {
		text-align: center;
		white-space: inherit;
	}
	.navbar-nav {
		background-color:#875f9b;
		margin-top:20px;
	}
	.thMenu .active .nav-link,
	.thMenu .nav-link:hover {
		color:white;
	}
	.thMenu .dropdown-menu a:hover, 
	.thMenu .dropdown-menu .active {
    	background-color: #5d3e6a;
    }
    .mobileMenu {display: inherit;}
}
