.customPageHeader {
  height: 140px;
  background: #822b8b;;
}
.customPageHeader h3{
	
text-align: center;
	
color: white;
	
padding-top: 25px;
	
font-size: 26pt;
}
.customPageHeader ul{
	
list-style: none;
	
/* min-width: 100%; */
	
display: table;
	
padding: 0;
}
.customPageHeader ul li{
	
float: left;
	
padding: 10px;
}
.customPageHeader ul li a{
	
text-decoration: none;
	
color: white;
	
font-weight: 300;
}
.customPageHeader .slash{color: white;padding: 10px 0;}
.customPageHeader .breadCrumb{
	
display: table;
	
margin: 0 auto;
}

@media only screen and (max-width: 420px) {
  .customPageHeader {
  	height:100%;
  }
}