/*
    Path: https://gorselcdn.com/betpas/v3/css/style.css
*/


@-ms-viewport {
    width: device-width
}

#index .container,
#deposit .container,
#promotion .container {
    margin-right: auto;
    margin-left: auto;
    width: 1200px
}

.no-margin-bottom {
    margin-bottom: 0 !important
}

.mt10 {
    margin-top: 10px !important
}

.mb10 {
    margin-bottom: 10px !important
}

.clearfix,
.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
    content: " ";
    display: block
}

.clearfix:after,
.container:after,
.container-fluid:after {
    clear: both
}

img.img-responsive {
    max-width: 100%;
    height: auto
}

.pull-right {
    float: right !important
}

.pull-left {
    float: left !important
}

*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none
}

.bg-overlay {
    background-color: rgba(30, 30, 30, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 99999;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden
}

.col-50 {
    width: 630px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left
}

.col-50 .col-50 {
    width: 305px
}

.col-25 {
    width: 305px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left
}

.last {
    margin-right: 0
}

.tab-content [class*="tab-"] {
    display: none
}

.tab-content [class*="tab-"]:first-child {
    display: block
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #e6e6e6;
    font-size: 14px
}

body.black-bg {
    background: url('../img/casino/bg.png') no-repeat top center #0c0c0c
}

body.modal-open {
    overflow: hidden
}

.page-wrap .btn {
    padding: 0 !important;
    background: transparent !important
}

.page-wrap .btn a.button {
    padding: 0 15px !important
}

#navbar-top .header-topline {
    padding: 10px 0 !important;
    margin: 0 !important
}

#page-content {
    padding: 0 !important;
    margin: 0 !important
}

footer.page-footer {
    margin-top: 0 !important
}

#content #slider {
    height: 320px;
    margin-bottom: 20px;
    overflow: hidden
}

#content #slider .item {
    height: 320px;
    position: relative;
    z-index: 999;
    background-position: center !important
}

#content #slider .item img {
    height: 320px;
    width: 100%;
    object-fit: cover
}

#content #slider .item .container {
    position: relative
}

#content #slider .item a.slider-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer
}

#content #slider .item .box {
    color: #fff;
    padding: 20px;
    background-color: rgba(34, 54, 82, 0.6);
    width: 380px;
    top: 55px;
    position: absolute;
    min-height: 180px
}

#content #slider .item .box .title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 10px
}

#content #slider .item .box .desc {
    font-size: 16.66666667px;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #fff
}

#content #slider .item .box .btn a {
    min-width: 140px;
    height: 33px;
    line-height: 33px;
    border-radius: 3px;
    background-color: #fab900;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 20.83333333px;
    font-weight: 600;
    -webkit-transition: all .3s;
    transition: all .3s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 20px
}

#content #slider .item .box .btn a:hover {
    background-color: #f4c946
}

#content #slider .item .box-rate {
    color: #fff;
    padding: 15px;
    background-color: rgba(27, 44, 67, 0.9);
    top: 55px;
    left: 20px;
    position: absolute;
    text-align: center;
    width: 380px
}

#content #slider .item .box-rate .ball-corner {
    width: 70px;
    height: 77px;
    background: url('../img/ball.png') no-repeat center;
    position: absolute;
    top: 0;
    left: 0;
    display: none
}

#content #slider .item .box-rate .live-new {
    margin-bottom: 7px
}

#content #slider .item .box-rate .live-new .live {
    background: #283f5f;
    padding: 5px;
    display: inline-block;
    font-style: italic;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px
}

#content #slider .item .box-rate .live-new .score {
    display: inline-block;
    font-style: italic;
    font-size: 23px;
    font-weight: 700;
    margin: 0 10px
}

#content #slider .item .box-rate .live-new .time {
    display: inline-block;
    font-style: italic;
    font-size: 23px;
    font-weight: 700;
    background: url('../img/score-time.png') no-repeat left center;
    padding-left: 25px
}

#content #slider .item .box-rate .msg-new {
    font-size: 22px;
    margin-bottom: 7px;
    position: relative;
    line-height: 22px
}

#content #slider .item .box-rate .team-new {
    font-size: 28px;
    font-weight: 700;
    color: #6db744;
    margin-bottom: 7px;
    line-height: 25px;
    position: relative;
    z-index: 1
}

#content #slider .item .box-rate .team-new .white {
    display: inline-block;
    color: #fff;
    margin: 0 5px;
    background-color: transparent !important
}

#content #slider .item .box-rate .date-new,
#content #slider .item .box-rate .detail-new {
    font-size: 18px;
    margin-bottom: 7px;
    font-weight: 300;
    font-style: italic;
    line-height: 18px
}

#content #slider .item .box-rate .date-new .green,
#content #slider .item .box-rate .detail-new .green {
    color: #6db744;
    display: inline-block;
    background-color: transparent !important
}

#content #slider .item .box-rate .team {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 10px
}

#content #slider .item .box-rate .detail {
    font-size: 24px;
    color: #6db744;
    font-weight: 700;
    margin-bottom: 10px
}

#content #slider .item .box-rate .table {
    margin-top: 15px
}

#content #slider .item .box-rate .table.width-290 {
    width: 290px;
    margin: 0 auto
}

#content #slider .item .box-rate .table table {
    width: 100%;
    font-size: 24px;
    font-weight: 700
}

#content #slider .item .box-rate .table table thead td {
    padding-bottom: 10px
}

#content #slider .item .box-rate .table table tbody td {
    height: 30px;
    line-height: 30px;
    background-color: #6db744;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: relative;
    text-align: center;
    padding: 0;
    width: 127px
}

#content #slider .item .box-rate .table table tbody td[width="10"] {
    background-color: transparent;
    width: 10px
}

#content #slider .item .box-rate .table table tbody td:hover {
    background-color: #579236
}

#content #slider .item .box-rate .table table tbody td span {
    background: #61a73b;
    position: absolute;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    left: 0;
    top: 0;
    padding-left: 5px;
    padding-right: 3px
}

#content #slider .item .box-rate .table table tbody td span:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-left: 10px solid #61a73b;
    border-bottom: 30px solid transparent;
    position: absolute;
    right: -10px;
    top: 0
}

#content #slider .owl-controls {
    text-align: center;
    margin-top: -50px;
    z-index: 9;
    position: relative
}

#content #slider .owl-controls .owl-nav {
    margin: 0
}

#content #slider .owl-controls .owl-nav [class*="owl-"] {
    font-size: 55px;
    margin: 0;
    padding: 0;
    height: 320px;
    position: absolute;
    top: -270px;
    width: 55px;
    text-align: center;
    color: #283f5f;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0;
    -webkit-transition: all .3s;
    transition: all .3s
}

#content #slider .owl-controls .owl-nav [class*="owl-"]:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7)
}

#content #slider .owl-controls .owl-nav .owl-prev {
    left: 0
}

#content #slider .owl-controls .owl-nav .owl-next {
    right: 0
}

#content #slider .owl-controls .owl-nav span.fa {
    line-height: 320px
}

#content #slider .owl-controls .owl-dots {
    display: inline-block;
    padding: 5px;
    background: #1b2c43;
    border: 1px solid #6597de;
    border-radius: 5px;
    margin-top: -270px
}

#content #slider .owl-controls .owl-dots .owl-dot {
    margin: 0 4px
}

#content #slider .owl-controls .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 0;
    background: #fff
}

#content #slider .owl-controls .owl-dots .owl-dot.active span {
    background: #6597de
}

#content #index .col-50 {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)
}

#content #index .col-50.no-bg {
    box-shadow: none;
    background: transparent
}

#content #index .col-100 {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)
}

#content #index .col-pd {
    padding: 10px;
    background: url('../img/home/padding-bg.png') #fff
}

#content #index .col-50.last .title {
    margin-bottom: 7px
}

#content #index .col-50.last .desc {
    margin-bottom: 20px
}

#content #index .content {
    padding: 20px
}

#content #index .content .title {
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    line-height: 20px
}

#content #index .content .desc {
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 15px;
    line-height: 22px
}

#content #index .content a.button {
    padding: 0 !important;
    width: 145px;
    height: 33px;
    line-height: 33px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #f1bb16;
    display: inline-block;
    border-radius: 3px;
    -webkit-transition: all .3s;
    transition: all .3s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)
}

#content #index .content a.button:hover {
    background-color: #f4c946
}

#content #index #home-games .item img {
    height: 120px;
    width: 100%;
    object-fit: cover
}

#content #index #home-games .owl-controls .owl-nav {
    margin: 0
}

#content #index #home-games .owl-controls .owl-nav [class*="owl-"] {
    font-size: 17px;
    margin: 0;
    padding: 0;
    height: 27px;
    position: absolute;
    top: 50%;
    margin-top: -13.5px;
    width: 22px;
    text-align: center;
    color: #b0b0b0;
    background-color: #fff;
    border-radius: 3px;
    -webkit-transition: all .3s;
    transition: all .3s
}

#content #index #home-games .owl-controls .owl-nav [class*="owl-"]:hover {
    color: #333;
    background-color: #e6e6e6
}

#content #index #home-games .owl-controls .owl-nav .owl-prev {
    left: 0
}

#content #index #home-games .owl-controls .owl-nav .owl-next {
    right: 0
}

#content #index #home-games .owl-controls .owl-nav span.fa {
    line-height: 27px
}

#content #deposit {
    width: 965px;
    margin: 20px auto;
    font-size: 15px
}

#content #deposit strong {
    display: block;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 18px
}

#content #deposit strong .green {
    color: #6db744;
    background: transparent !important
}

#content #deposit strong.bg-yellow {
    background-color: #f1bb16;
    color: #000;
    height: 30px;
    line-height: 30px;
    padding: 0 10px
}

#content #deposit .title {
    text-transform: uppercase;
    color: #6db744;
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 10px
}

#content #deposit p {
    margin-bottom: 5px;
    margin-top: 0
}

#content #deposit img {
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px;
    display: block
}

#content #deposit #bank-accounts {
    background: url('../img/deposit/thumb-1.png') no-repeat center;
    width: 965px;
    height: 172px;
    margin: 0 auto 20px;
    position: relative
}

#content #deposit #bank-accounts .title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #333;
    position: absolute;
    left: 20px;
    top: 14px;
    width: 280px
}

#content #deposit #bank-accounts span.selected-value-bank {
    position: absolute;
    background: url(../img/deposit/selected-value-arrow.png) no-repeat right 10px center #1b2c43;
    cursor: pointer;
    width: 196px;
    height: 40px;
    top: 80px;
    left: 21px;
    line-height: 36px;
    color: #fff;
    padding-left: 20px;
    font-size: 20px
}

#content #deposit #bank-accounts ul.bank-list {
    position: absolute;
    top: 120px;
    left: 21px;
    width: 196px;
    z-index: 9;
    display: none;
    margin: 0
}

#content #deposit #bank-accounts ul.bank-list li {
    background-color: #142031;
    border-top: 1px solid #2d496f
}

#content #deposit #bank-accounts ul.bank-list li a {
    color: #fff;
    padding-left: 15px;
    display: block;
    line-height: 30px;
    font-weight: 300
}

#content #deposit #bank-accounts img#bank-logo {
    position: absolute;
    max-width: 196px;
    max-height: 110px;
    width: auto;
    height: auto;
    margin: 0;
    top: 50px;
    left: 345px
}

#content #deposit #bank-accounts .table-bank-accounts {
    float: right;
    width: 390px;
    height: 171px;
    padding: 10px 20px;
    display: none
}

#content #deposit #bank-accounts .table-bank-accounts .bank-out-of-order {
    height: 150px;
    display: table
}

#content #deposit #bank-accounts .table-bank-accounts .bank-out-of-order p {
    display: table-cell;
    vertical-align: middle
}

#content #deposit #bank-accounts .table-bank-accounts table {
    width: 100%;
    border-spacing: 0 2px;
    border-collapse: separate
}

#content #deposit #bank-accounts .table-bank-accounts table tbody td {
    font-size: 17px;
    font-weight: 600;
    color: #333;
    height: 28px;
    text-align: right;
    padding: 0 10px 0 0
}

#content #deposit #bank-accounts .table-bank-accounts table tbody td:nth-child(2) {
    background-color: #fff;
    height: 25px;
    border: 1px solid #d7d7d7;
    padding: 0 10px;
    font-size: 15px;
    text-align: left
}

#content #deposit #deposit-form {
    background: url('../img/deposit/thumb-2.png') no-repeat center;
    width: 967px;
    height: 127px;
    margin: 0 auto;
    position: relative
}

#content #deposit #deposit-form .title {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    position: absolute;
    left: 25px;
    top: 20px
}

#content #deposit #deposit-form span.selected-value-bonus {
    position: absolute;
    background: url('../img/deposit/selected-value-arrow.png') no-repeat right 10px center #6db744;
    cursor: pointer;
    width: 234px;
    height: 32px;
    top: 47px;
    left: 28px;
    line-height: 30px;
    color: #fff;
    padding-left: 15px
}

#content #deposit #deposit-form ul.bonus-list {
    position: absolute;
    top: 79px;
    left: 28px;
    width: 234px;
    display: none;
    margin: 0
}

#content #deposit #deposit-form ul.bonus-list li {
    background-color: #62a43d;
    border-top: 1px solid #528a33
}

#content #deposit #deposit-form ul.bonus-list li a {
    color: #fff;
    padding-left: 15px;
    display: block;
    line-height: 30px;
    font-weight: 300
}

#content #deposit #deposit-form button.bonus-button {
    position: absolute;
    top: 22px;
    left: 342px;
    background: #6db744;
    border: none;
    border-radius: 0;
    height: 52px;
    width: 234px;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s
}

#content #deposit #deposit-form button.bonus-button:hover {
    background-color: #62a43d
}

#content #deposit #deposit-form button.bonus-button:after {
    content: " ";
    width: 42px;
    height: 44px;
    background: url('../img/deposit/hand.png') no-repeat center;
    position: absolute;
    right: -21px;
    bottom: -33px
}

#content #deposit #deposit-form .desc {
    position: absolute;
    top: 85px;
    left: 342px;
    font-size: 12px;
    font-style: italic;
    width: 170px
}

#content #deposit #deposit-form .right-desc {
    position: absolute;
    top: 21px;
    left: 662px;
    padding-right: 20px;
    line-height: 19px
}

#content #promotion {
    margin-top: 20px
}

#content #promotion .col-25 {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)
}

#content #promotion .col-pd {
    background: url('../img/home/padding-bg.png') #fff
}

#content #promotion .thumb {
    padding: 15px 15px 0
}

#content #promotion .thumb img {
    width: 275px;
    height: 180px;
    max-width: 100%
}

#content #promotion .container {
    width: 100% !important
}

#content #promotion .content {
    padding: 15px
}

#content #promotion .content .title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #333
}

#content #promotion .content .sub-title {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 5px;
    color: #78b41e;
    background-color: transparent
}

#content #promotion .content .desc {
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 22px;
    color: #333
}

#content #promotion .content .btn {
    background: none;
    padding: 0;
    box-shadow: none
}

#content #promotion .content a.button {
    padding: 0 !important;
    width: 115px;
    height: 33px;
    line-height: 33px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    background-color: #f1bb16;
    display: inline-block;
    border-radius: 3px;
    -webkit-transition: all .3s;
    transition: all .3s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)
}

#content #promotion .content a.button:hover {
    background-color: #f4c946
}

.promo-tab {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    left: 50%;
    padding: 25px;
    width: 700px;
    margin-left: -350px;
    background-color: #fff;
    z-index: 999;
    display: none;
    float: left;
    clear: both
}

.promo-tab a.close {
    color: #333;
    font-size: 25px;
    position: absolute;
    right: -35px;
    top: 0;
    width: 35px;
    height: 35px;
    margin: 0;
    text-align: center;
    line-height: 35px;
    background: #fff
}

.promo-tab .btn {
    background: none;
    padding: 0
}

.promo-tab a.button {
    height: 33px;
    line-height: 33px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    background-color: #f1bb16;
    display: inline-block;
    border-radius: 3px;
    -webkit-transition: all .3s;
    transition: all .3s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)
}

.promo-tab a.button:hover {
    background-color: #f4c946
}

.promo-tab .thumb {
    margin-bottom: 10px
}

.promo-tab .content {
    margin-bottom: 0
}

.promo-tab .content .title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px
}

.promo-tab .content .sub-title {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 5px;
    color: #78b41e;
    background-color: transparent
}

.promo-tab .content .desc {
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 22px
}

.promo-tab .blue-bg {
    background: #283f5f;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 10px
}

.promo-tab .blue-bg .tab-menu ul {
    margin: 0
}

.promo-tab .blue-bg .tab-menu ul li {
    float: left
}

.promo-tab .blue-bg .tab-menu ul li.active a {
    background-color: #1b2c43;
    color: #6db744
}

.promo-tab .blue-bg .tab-menu ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 0 10px;
    text-transform: uppercase;
    display: block;
    -webkit-transition: all .3s;
    transition: all .3s
}

.promo-tab .tab-container {
    margin: 0;
    font-size: 15px;
    line-height: 23px;
    color: #000
}

.promo-tab .tab-container h1 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px
}

.promo-tab .tab-container h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px
}

.promo-tab .tab-container h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px
}

.promo-tab .tab-container p {
    margin: 0
}

.promo-tab .tab-container ul,
.promo-tab .tab-container ol {
    margin: 0;
    padding-left: 23px
}

.promo-tab .tab-container .tab-content {
    display: none
}

.promo-tab .tab-container .tab-content.active {
    display: block
}

.promo-tab .tab-container .tab-content img {
    max-width: 100%;
    height: auto;
}

.promo-tab .bp_show-mobile {
    display: none !important;
}

#mobile .mobile-step {
    height: 660px;
    background-repeat: repeat-x
}

#mobile .mobile-step .container {
    height: 660px
}

#mobile .mobile-step .content {
    width: 50%
}

#mobile .mobile-step .content.content-right {
    margin-left: 50%
}

#mobile .mobile-step .mob-title {
    font-size: 45px;
    line-height: 55px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px
}

#mobile .mobile-step .mob-desc {
    font-size: 17px;
    line-height: 22px;
    color: #333;
    margin-bottom: 20px
}

#mobile .mobile-step strong {
    font-weight: 700
}

#mobile .mobile-step .text-center {
    text-align: center
}

#mobile .mobile-step .mob-icon-list {
    display: table;
    width: 100%;
    margin-bottom: 40px
}

#mobile .mobile-step .mob-icon-list .mob-lists {
    text-align: center;
    display: table-cell;
    padding: 0 30px
}

#mobile .mobile-step .mob-icon-list .mob-lists img {
    margin-bottom: 10px
}

#mobile .mobile-step .mob-icon-list .mob-lists .text {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 10px
}

#mobile .mobile-step .mob-icon-list .mob-lists .desc {
    font-size: 17px;
    line-height: 23px
}

#mobile .mobile-step a.btn-more {
    font-size: 24px;
    height: 21px;
    display: inline-block;
    color: #86c85f;
    font-style: italic;
    font-weight: 500;
    background: url('../img/mobile/btn-more-arrow.png') left bottom no-repeat;
    padding-left: 25px
}

#mobile #mobile-step-1 {
    background-image: url('../img/mobile/step-1.jpg')
}

#mobile #mobile-step-1 .container {
    background: url('../img/mobile/step-1-bg.png') no-repeat;
    background-position: right center
}

#mobile #mobile-step-1 .content {
    padding-top: 91px
}

#mobile #mobile-step-2 {
    background-image: url('../img/mobile/step-2.jpg')
}

#mobile #mobile-step-2 .container {
    background: url('../img/mobile/step-2-bg.png') no-repeat;
    background-position: left center
}

#mobile #mobile-step-2 .content {
    padding-top: 163.5px
}

#mobile #mobile-step-2 .mob-title,
#mobile #mobile-step-2 .mob-desc {
    width: 300px;
    margin-left: auto;
    margin-right: auto
}

#mobile #mobile-step-2 .mob-icon-list .mob-lists {
    padding: 0 10px
}

#mobile #mobile-step-2 .mob-icon-list .mob-lists .text {
    font-size: 23px
}

#mobile #mobile-step-3 {
    background-image: url('../img/mobile/step-3.jpg')
}

#mobile #mobile-step-3 .container {
    background: url('../img/mobile/step-3-bg.jpg') no-repeat;
    background-position: right center
}

#mobile #mobile-step-3 .content {
    width: 60%;
    padding-top: 165px
}

#mobile #mobile-step-3 .mob-title,
#mobile #mobile-step-3 .mob-desc {
    width: 300px;
    margin-left: auto;
    margin-right: auto
}

#mobile #mobile-step-3 .mob-icon-list .mob-lists {
    padding: 0 10px;
    width: 33%
}

#mobile #mobile-step-3 .mob-icon-list .mob-lists .text {
    font-size: 23px
}

#mobile #mobile-step-4 {
    background-image: url('../img/mobile/step-4.jpg')
}

#mobile #mobile-step-4 .container {
    background: url('../img/mobile/step-4-bg.png') no-repeat;
    background-position: right center
}

#mobile #mobile-step-4 .content {
    padding-top: 239px;
    width: 300px;
    margin-left: 150px
}

#mobile #mobile-step-4 .mob-icon-list .mob-lists {
    padding: 0 10px;
    width: 33%
}

#mobile #mobile-step-4 .mob-icon-list .mob-lists .text {
    font-size: 23px
}

@media screen and (max-width:1450px) {
    #content #slider .item .box,
    #content #slider .item .box-rate,
    #content #casino-header.slider .item .box {
        left: 70px
    }
}

@media screen and (max-width:500px) {

    .promo-tab .tab-menu .bp_show-mobile,
    .promo-tab .tab-container .bp_show-mobile.active {
        display: block !important;
    }
    .promo-tab .tab-menu .bp_show-desktop,
    .promo-tab .tab-container .bp_show-desktop.active {
        display: none !important;
    }

}