.customBlogList {
    padding-top: 25px;
    background: white;
}

.customBlogList .vAlign {
    height: 100%;
    position: relative;
    display: grid;
}
.customBlogList .generalImage {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    border-radius: 10px;
    height: 200px;
}
.customBlogList h3 {
    color: #812b8e;
    font-size: 18pt;
    margin-top: 30px;
    font-weight: bold;
    transition:color 150ms;
}
.customBlogList h3:hover {
    color: #e7237c;
}
.customBlogList ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.customBlogList ul li {
    float: left;
    color: #822b8c;
    margin-right: 20px;
    font-size: 10pt;
    margin-bottom: 10px;
    margin-top: 3px;
}
.customBlogList ul li i {
    font-size: 9pt;
}
.customBlogList p {
    text-align: justify;
    font-size: 11pt;
    min-height: 100px;
    font-weight: 500;
    color: #7b7b7b;
}
.customBlogList a {
    text-decoration:none;
}
.customBlogList .link {
    text-align: center;
    display: block;
    text-transform: uppercase;
    background: #822b8c;
    color: white;
    font-weight: 600;
    width: 150px;
    float: right;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 250ms;
}
.customBlogList .link:hover {
    background: #e4247a;
}
.customBlogList .blogDiv {
    padding-bottom: 30px;
    border-bottom: 2px solid #643d5f;
    margin-top: 30px;
}
.customBlogList .blogDiv:last-child {
    padding-bottom: 0 !important;
    border-bottom: none !important;
    margin-top:150px;
}
@media only screen and (max-width: 420px) {
  .customBlogList img {
    margin-top: 5px;
}
.customBlogList .link {
    float:none;
    margin:0 auto;
}
.customPageHeader h3 {
    padding-top:75px;
}
}