.customEvent .generalImage {
    min-height: 200px; 
    width: 100%;
}
.customEvent a {
    text-decoration: none;
}
.customEvent .carousel-item {
    padding: 0 75px;
}
.customEvent {
    background: #d23856;
}
.customEvent #demo{
    height: 300px;
    padding: 50px;
    margin-bottom: 20px;
}
.customEvent h2{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color: white;
    position: relative;
    z-index: 999999;
    background: #d23856;
}
.customEvent h2:after{
   border-top: 1px solid #dfdfdf;
   content:"";
   margin: 0 auto;
   position: absolute;
   top: 50%;
   right: 0;
   width: 40%;
   z-index: -1;
}
.customEvent h2:before{
    border-top: 1px solid #dfdfdf;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    width: 40%;
    z-index: -1;
 }
.customEvent h4{
    color: white;
    font-weight: 600;
    font-size: 16pt;
    transition: color 150ms;
}
.customEvent h4:hover{
    color: #ebebeb;    
}
.customEvent p{
    color: white;
    text-align: justify;
}
@media only screen and (max-width: 420px) {
  
  .customEvent h2:after,
  .customEvent h2:before {
      width:20%;
  }
  .customEvent .carousel-item {
      padding:0 10px;
      height: 100%;
  }
  .customEvent #demo {
      height:auto;
      padding:0;
      padding-top:20px;
  }
  .customEvent h4,
  .customEvent p {
    text-align:center;
  }
  .customEvent h4 {
    margin-top:20px;
    margin-bottom:20px;
  }
}