.customFooter {
    background: #d23856;
    padding-top: 50px;
}
.customFooter h2{
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}
.customFooter .footerLogo img{
    width: 100%;
}
.customFooter .footerLogo p{
    color: white;
    margin-top: 40px;
    text-align: justify;
    font-size: .8rem;
}
.customFooter .footerMenu ul{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 20px;
}
.customFooter .footerMenu ul li{}
.customFooter .footerMenu ul li a{
    text-decoration: none;
    color: white;
    font-size: .8rem;
    font-weight: 600;
    transition:color 150ms;
}
.customFooter .footerMenu ul li a:hover{
    color: #b9b9b9;

}
.footerCopyright {
    color: #ffffff;
    padding-top: 30px;
    font-size: .9rem;
}
.footerSocial a{
    text-decoration: none;
}
.footerSocial h3 {
    color: white;
    font-size: 24pt;
    text-align: center;
    font-weight: 700;
    margin: 0;
}
.footerSocial .tLine1 {
    display: block;
    text-align: center;
    color: #e2e2e2;
    margin-bottom: 15px;
}
.footerSocial .tLine2 {
    display: block;
    text-align: center;
    font-size: 16pt;
    font-weight: 600;
    color: white;
}
.footerSocial .tLine3 {
    display: block;
    text-align: center;
    font-size: 18pt;
    color: white;
    margin-bottom: 20px;
}
.footerSocial .tLine4 {
    display: block;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 16pt;
}
.footerSocial .tLine5 {
    display: block;
    text-align: center;
    color: white;
}
@media only screen and (max-width: 420px) {
  .footerCopyright {
    text-align:center;
  }
}