.customPageDetail .pageDetail ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    width: 100%;
    background: #822b8b;
    margin-bottom: 10px;
    height: 30px;
}
.customPageDetail .pageDetail ul li{
    float: right;
    margin-right: 20px;
    /* margin-top: 10px; */
    margin-bottom: 20px;
    font-size: 9pt;
    color: #912690;
    color: #ffffff;
    line-height: 30px;
}
.customPageDetail .pageMainImage img{
    width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.customPageDetail .pageContent .col-md-12{
    text-align: justify;
    font-size: 11pt;
    color: #545454;
}
.customPageDetail .pageBlock .socialShare{}
.customPageDetail .pageBlock .socialShare span,
.customPageDetail .pageBlock .cloudTags span{
    width: 50px;
    height: 50px;
    display: block;
    background: #822b8b;
    color: white;
    border-bottom-right-radius: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 18pt;
    float: left;
}

.customPageDetail .pageBlock .socialShare ul,
.customPageDetail .pageBlock .cloudTags ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 50px;
    border-top: 2px solid #822b8b;
}
.customPageDetail .pageBlock .socialShare ul li{
    float: left;
    line-height: 50px;
    margin-left: 25px;
}
.customPageDetail .pageBlock .socialShare ul li a{
    color: #822b8b;
    font-size: 18pt;
    text-align: center;
    transition: opacity 150ms;
    opacity:0.8;
}
.customPageDetail .pageBlock .socialShare ul li a:hover{
    opacity: 1;
}
.customPageDetail .pageBlock .cloudTags {}

.customPageDetail .pageBlock .cloudTags ul li{
    background: #822b8b;
    float: left;
    border: 1px solid #822b8b;
    padding: 5px;
    margin-left: 15px;
    font-size: 9pt;
    margin-top: 10px;
    color: #926691;
    border-radius: 5px;
    color: white;
    transition:background 250ms;
}
.customPageDetail .pageBlock .cloudTags ul li:hover{
    background: #714470;
    border: 1px solid #714470;
}
.customPageDetail .pageBlock .cloudTags ul li a{
    color: inherit;
    text-decoration: none;
}
.customPageDetail {
    background: white;
    padding-bottom: 50px;
    padding-top: 10px;
}
.customPageDetail .pageContentImage .generalImage{
    
width: 100%;
    
margin-bottom: 15px;
    
border-radius: 10px;
height: 300px;
}
.customPageDetail .otherBlogText h3{
    
margin-top: 10px;
    
margin-bottom: 10px;
    
line-height: 75px;
    
text-transform: uppercase;
    
font-weight: bold;
    
font-size: 18pt;
    
color: #5e3f69;
    
display: inline-block;
    
border-bottom: 2px solid #5e3f69;
}

.customPageDetail .otherBlog{
    
}
.customPageDetail .otherBlog img{
    
width: 100%;
}
.customPageDetail .otherBlog a{
    
color: #303030;
    
text-decoration: none;
}
.customPageDetail .otherBlog .card-body span{
    
color: #a3a3a3;
    
font-size: 11pt;
}
.customPageDetail .otherBlog h4{
    
}
.customPageDetail .otherBlog p{
    
}
.customPageDetail .otherBlog .card{
    opacity:0.8;
    transition: opacity 150ms;
}
.customPageDetail .otherBlog .card:hover{
    opacity:1;
}
.customPageDetail .otherBlog .card .card-body{
    
padding: 10px;
}
.customPageDetail .otherBlog .card .card-title{
    
margin-top: 7px;
}
.customPageDetail .otherBlog .card .card-text{
    
color: #b6b6b6;
    
font-size: 12pt;
    
line-height: 20px;
    
text-align: justify;
}
.customPageDetail .menuBand{
    
display: block;
    
height: 50px;
    
background: #822b8b;
    
line-height: 50px;
    
padding: 0 10px;
    
color: white;
    
font-size: 11pt;
    
border-top-left-radius: 10px;
    
border-top-right-radius: 10px;
    
text-transform: uppercase;
    
font-weight: 500;
}
.customPageDetail .menuBandContent{
    
list-style: none;
    
padding: 0;
    
margin: 0;
    
margin-bottom: 20px;
}

.customPageDetail .menuBandContent li a{
    
color: #6d6d6d;
    
text-decoration: none;
    
line-height: 40px;
    
font-size: 9pt;
    
padding: 0 10px;
    
background: #eaeaea;
    
min-height: 40px;
    
border-bottom: 1px dashed #848484;
    
display: block;
    
transition: padding 250ms;
}
.customPageDetail .menuBandContent li a:hover{
    
color: #eaeaea;
    
/* padding: 0 20px; */
    
background: #822b8b;
}
.customPageDetail .menuActive{
    color: #eaeaea !important;
    /* padding: 0 20px !important; */
    background: #822b8b !important;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
	display:inherit !important;
}

.customPageDetail .owl-prev,
.customPageDetail .owl-next{
	position: absolute !important;
    top: 30% !important;
    font-size: 50pt !important;
    background: #353535 !important;
    color: white !important;
    width: 50px !important;
    height: 50px !important;
    line-height: 50px !important;
    margin: 0 !important;
	outline:none !important;
	opacity:0.8;
	transition:opacity 250ms;


}
.customPageDetail .owl-prev:hover,
.customPageDetail .owl-next:hover{
	opacity:1;


}

.customPageDetail .owl-prev{
    left: -100px !important;
}
.customPageDetail .owl-next{
    right: -100px !important;
}
.customPageDetail .owl-prev span,
.customPageDetail .owl-next span{
display: block;
    line-height: 50px;
    margin-top: -10px;
	outline:none !important;

}
@media only screen and (max-width: 420px) {
  .customPageDetail .owl-prev,
.customPageDetail .owl-next{
	display:none !important;

}
.pageContent img {
    width: 100%;
    float:none;
    clear: both;
    margin-bottom: 10px;
}
.customPageDetail .pageBlock .socialShare ul li {
    margin-left:20px
}
}
