/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/

.customModal .modal.right .modal-dialog {
	position: fixed;
	margin: auto;
	width: auto;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}


.customModal .modal.right .modal-content {
	height: 100%;
	overflow-y: auto;
	padding: 20px;
	background: #d23856;
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
}


.customModal .modal.right .modal-body {
	padding: 15px 15px 80px;
}

	
/*Right*/
.customModal .modal.right.fade .modal-dialog {
	right: 0;
	-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, right 0.3s ease-out;
	-o-transition: opacity 0.3s linear, right 0.3s ease-out;
	transition: opacity 0.3s linear, right 0.3s ease-out;
}

.customModal .modal.right.fade.in .modal-dialog {
	right: 0;
}

/* ----- MODAL STYLE ----- */
.customModal .modal-content {
	border-radius: 0;
	border: none;
}

.customModal .modal-header {
	border-bottom-color: #EEEEEE;
	background-color: #FAFAFA;
}
.customModal img {

display: block;

/* width: 303px; */

margin: 0 auto;

margin-bottom: 25px;

/* height: 56px; */
}
.customModal p {

text-align: center;

color: #ffffff;

font-weight: 600;

margin-bottom: 25px;

font-size: 12pt;
}
.customModal button {
position: absolute;
color: white;
border: 2px solid white;
border-radius: 50px;
width: 30px;
height: 30px;
right: 50px;
top: 20px;
text-align: center;
z-index: 9;
}
.customModal input {

border-radius: 5px;
}
.customModal label {

color: #ffffff;
}
.customModal a {

background-color: #ef7f1a;

border-color: #812b8c;

color: white !important;

border: none !important;

background: #812b8c;

text-align: center;

display: block;

width: 100%;

margin: 0 auto;

margin-top: 20px;

margin-bottom: 20px;

height: 40px;

line-height: 40px;

font-weight: 600;

border-radius: 5px;

text-decoration: none;

transition: background 150ms;

cursor: pointer;

outline: none;
}

.customModal a:hover {

background-color: #c82584;
}
@media only screen and (max-width: 420px) {
  .customModal .modal.right .modal-content {
  	padding:0;
  	padding-top:50px;
  }
}