.customSlider .carousel-item {
    height: 75vh;
    min-height: auto;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.customSlider .carousel-caption {
    bottom: 0;
    top: 20%;
    text-align: left;
}
.customSlider .carousel-caption h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 600;
    color: #3a3a3a;
    max-width: 70%;
}
.customSlider .carousel-caption h4 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    text-transform: inherit;
    color: #3a3a3a;
    max-width: 70%;
}
.customSlider .carousel-caption p {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
    color: #3a3a3a;
    max-width: 40%;
    margin-top: 20px;
}
.customSlider .carousel-caption a {
    margin-top: 440px;
    background-color: #e1267e;
    border-color: #e1267e;
    width: 200px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    /* margin: 0 auto; */
    margin-top: 4rem;
    height: 50px;
    line-height: 50px;
    border: 1px solid;
    transition:background 250ms;
    color: white;
    text-align: center;
    text-decoration: none;
}
.customSlider .carousel-caption a:hover {
    background-color: #672e4f;

}
.customSlider .carousel-control-prev-icon {
    background-image: url(left-arrow.png) !important;
}
.customSlider .carousel-control-next-icon {
    background-image: url(right-arrow.png) !important;
}
.customSlider .carousel-control-next-icon, 
.customSlider .carousel-control-prev-icon {
    width: 40px;
    height: 74px;
}

.carousel-indicators li {
    height: 20px;
    border-radius: 30px;
    width: 20px; 
}
@media only screen and (max-width: 600px) {
    .customSlider .carousel-caption {     
    top: 0;
    text-align: center;
}
.customSlider .carousel-caption h4 {
	font-size:16pt;
	max-width: 100%;
	text-align: center;
}
.customSlider .carousel-caption h1 {
	font-size:24pt;
	max-width: 100%;
	text-align: center;
}
.customSlider .carousel-caption a {
    width: 100%;
    margin-top: 20px;
}
.customSlider .carousel-caption p {
    text-align: center;
    font-size: 12pt;
    max-width: 100%;
}
.customSlider .carousel-item {
    min-height: 500px;
}
}
