.customAbout .generalImage{
    width: 100%;
    min-height: 500px;
    height: 100%;
    -webkit-box-shadow: 0px 4px 7px -2px rgba(122,122,122,1);
    -moz-box-shadow: 0px 4px 7px -2px rgba(122,122,122,1);
    box-shadow: 0px 4px 7px -2px rgba(122,122,122,1);
}
.customAbout h1{
    
font-weight: bold;
    
font-size: 30pt;
    
color: #222222;
}
.customAbout .purple{
    
color: #832c8b;
}
.customAbout .pink{
    
color: #e3267c;
}
.customAbout h3{
    
color: #555555;
    
font-size: 14pt;
    
font-weight: bold;
    
text-align: justify;
}
.customAbout p{
    
text-align: justify;
    
line-height: 30px;
}
.customAbout .linkText{
    
width: 100%;
    
text-align: right;
    
display: block;
    
text-decoration: none;
    
color: #222222;
    
font-weight: 600;
transition: color 150ms;
}
.customAbout .linkText:hover{
   
color: #555555;

}

.customAbout .colorLink {

width: 100%;

text-align: center;

display: block;

text-decoration: none;

text-transform: uppercase;

background: #e1267e;

height: 35px;

line-height: 35px;

color: white;

font-weight: bold;

font-size: 10pt;
}

.customAbout .colorLink:hover {

text-decoration: none;

color: #d9d9d9;
}
.customAbout .purpleLink {
    background-color: #832c8b;
}

@media only screen and (max-width: 420px) {
  
  .customAbout h1,
  .customAbout h3,
  .customAbout p
   {
      text-align:center;
      margin-top: 25px;
  }
  .customAbout .linkText {
      text-align:center;
      border:2px solid #832c8b;
      background-color:#832c8b;
      color:white;
      height:40px;
      line-height:30px;
      

  }
  .customAbout .colorLink {
    margin-bottom:15px;
  }
}