.customCList {
    background: white;
    padding-top: 20px;
}
.customCList .col-md-4 {

}.customCList .col-md-4:hover > .link{
color: #865f98;
}
.customCList .col-md-4:hover > a .imageEffect{box-shadow: 1px 1px #373737,  2px 2px #373737,  3px 3px #373737,  4px 4px #373737,  5px 5px #373737,  6px 6px #373737;-webkit-transform: translateX(-3px);transform: translateX(-3px);transition: .5s ease;}
.customCList .col-md-4 .generalImage{
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    transition: 1s ease;
    height: 200px;
}

.customCList .col-md-4 .link{
    width: 100%;
    display: block;
    text-align: center;
    color: #822b8b;
    margin-top: 10px;
    font-size: 12pt;
    font-weight: 600;
    margin-bottom: 20px;
    height: 30px;
    line-height: 30px;
    position:relative;
    transition: color 500ms;
    text-decoration:none;
}
.customCList .col-md-4 .link:hover{
    color: #e3277c;
}