.customContact {padding-top: 30px;background: white;padding-bottom: 30px;}
.customContact h3{
	
color: #ef7f1a;
	
margin-bottom: 20px;
	
border-bottom: 2px solid;
	
padding-bottom: 10px;
}
.customContact p{
	
font-size: 14pt;
	
color: #222;
}
.customContact p ,{
	
}
.customContact p a{
	
font-size: 14pt;
	
color: #222;
	
text-decoration: none;
}
.customContact p a i{
	
color: #822b8b;
	
margin-right: 10px;
}
.customContact span{
	
display: block;
	
text-align: center;
	
margin-bottom: 30px;
}
.customContact span i{
	
font-size: 80pt;
	
color: #822b8b;
}
.customContact iframe{
	width:100%;
	height: 100%;
	min-height: 300px;
}
.customContact form a{
	
background-color: #822b8b;
	
border-color: #822b8b;
	
color:white !important;
	
-webkit-appearance: inherit;
	
text-transform: uppercase;
}
.customContact form a:hover{
	
background-color: #e5257b;
	
border-color: #e4247a;
}
.customContact label{
	
color: #6b6b6b;
	
font-weight: 500;
}
@media only screen and (max-width: 420px) {
  .customContact form a {
  	margin-bottom:20px;
  }
  .customContact img {
  	width:100%;
  }
}