table.dataTable tbody th,
table.dataTable tbody td {
  vertical-align: middle;
}
.pL0 {padding-left: 0;}
.pR0 {padding-right: 0;}
.filterButtons {
    margin-top: 25px;
    width: 100px;
}
/*MEDYA GALERİSİ*/
.medyaStyle {
    overflow: hidden !important;
}

    .medyaStyle #imageDetails,
    .medyaStyle #imageGallery {
        padding-top: 15px;
    }

    .medyaStyle .modal-title {
        font-size: 22px;
        font-weight: 600;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        padding: 10px 15px;
    }

    .medyaStyle .modal-header {
        padding: 0;
        border: none;
    }

    .medyaStyle .close {
        padding: 20px;
        opacity: 1;
        color: #666;
    }

    .medyaStyle .modal-content {
        border-radius: 0;
    }

    .medyaStyle .modal-lg {
        width: 98%;
    }

    .medyaStyle #imageDetails {
        background: #f3f3f3;
        overflow-x: auto;
    }

    .medyaStyle .modal-body {
        padding-top: 0;
    }

    .medyaStyle .mediaBorder {
        margin-bottom: 2px;
        background: #f5f5f5;
        border: 3px solid #d4d4d4;
        cursor: pointer;
        position: relative;
        transition: border 150ms;
        width: 100%;
        height: 200px;
        overflow: hidden;
    }

        .medyaStyle .mediaBorder img {
            position: absolute;
            left: 50%;
            top: 50%;
            /* height: 100%; */
            width: auto;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
        }

    .medyaStyle .searchMedia {
        list-style: none;
        margin: -5px;
    }

        .medyaStyle .searchMedia span {
            /* display: none; */
            font-weight: bold;
            color: #ffffff;
            z-index: 99;
            position: absolute;
            /* margin-left: 10px; */
            bottom: 0;
            /* right: 10px; */
            width: 100%;
            text-align: center;
            padding-right: 10px;
            padding-left: 10px;
            overflow: hidden;
            background: #0073aa;
        }

    .medyaStyle .mediaBorder:hover {
        border: 3px solid #0073aa;
    }

.mediaBorderActive {
    border: 3px solid #0073aa !important;
}

.mediaFilters {
    margin-bottom: 15px;
}

    .mediaFilters input {
        height: 30px;
        width: 150px;
        font-size: 9pt;
        margin-right: 5px;
        border-radius: inherit;
        margin-right: 15px;
    }

    .mediaFilters select {
        height: 30px;
        width: 150px;
        font-size: 9pt;
        margin-right: 5px;
        border-radius: inherit;
    }

        .mediaFilters select:first-child {
            margin-left: 15px;
        }

#imageGallery .col-md-2 {
    padding: 5px;
}

#imageDetails p {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    color: #666;
    margin: 14px 0 8px;
}

#imageDetails h1 {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    color: #444;
    word-wrap: break-word;
    margin-bottom: 5px;
}

#imageDetails h3 {
    color: #444;
    font-size: 12px;
    margin: 0;
    margin-bottom: 5px;
}

    #imageDetails h3 a {
        color: red;
    }

        #imageDetails h3 a:hover {
            text-decoration: none;
        }

#imageDetails form {
    margin-top: 15px;
}

    #imageDetails form label {
        font-weight: 400;
        color: #666;
        font-size: 12px;
        margin-top: 3px;
    }

    #imageDetails form input {
        height: 30px;
        border-radius: 0;
        width: 100%;
        border-radius: inherit;
        margin-right: 15px;
        font-size: 12px;
        border-width: 1px;
        border-style: solid;
        border-color: #ddd;
    }

    #imageDetails form span {
        font-size: 15px;
        font-weight: bold;
        color: #7f7f7f;
        float: left;
        margin-right: 5px;
        margin-top: 5px;
    }

    #imageDetails form button {
        float: right;
        margin-right: 15px;
        margin-top: 5px;
    }

#imageDetails .form-group {
    margin-bottom: 6px;
}

.imageDetailsBorder {
    border-bottom: 1px solid grey;
    border-bottom: 1px solid #ddd;
    padding-bottom: 11px;
    height: 150px;
}

.imageDetailsBorder img{
    max-height: 100px;
    display: block;
    margin: 0 auto;
}

#fileUpload .dropzone {
    height: 100%;
    margin-top: 15px;
    border: 2px dashed #68c8ff !important;
    border-radius: 5px;
}

#fileUpload .dropzone {
    height: 100%;
    margin-top: 15px;
    border: 2px dashed #68c8ff !important;
    border-radius: 5px;
}

.uploadIcon {
    font-size: 25vh;
}

.uploadText {
    font-size: 2vh;
    font-weight: bold;
}

.maxFileSize {
    font-size: 2vh;
}

.sizeInputs {
    float: left;
    width: 17% !important;
    margin-right: 5px !important;
}

.imageGalleryPadding {
    padding-left: 15px;
    padding-right: 15px;
    overflow-x: scroll;
    overflow-x: hidden;
}

.file-upload {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 42px;
}

.file-upload__label {
    padding-left: 15px;
    font-weight: 100;
    color: #2ba7ff;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    margin-right: 10px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    margin-top: 8px;
}

.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width: 0;
    height: 100%;
    opacity: 0;
    width: 100%;
    cursor: pointer;
}

.imageDetailsHide {
    display: none;
}
.sortInput {
    width: 65px;
    float: left;
    margin-right: 10px;
}
.sortButton {
    width: 45px;
    float: left;
}
.filterSearch {
    margin-right: 5px;
}
.sidebar-menu a {
    cursor:pointer;
}
@media only screen and (max-width: 1367px) {
    .dNone {
        display:none;
    }
	.sortButton {
    width: 35px;
}
}
.content-wrapper {
    display: flow-root;
}
/*LOADING*/

body .vertical-centered-box {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #ffffff;
    z-index: 500;
  }
  body .vertical-centered-box:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  body .vertical-centered-box .content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: fadein 1s 1.5s linear forwards;
    -moz-animation: fadein 1s 1.5s linear forwards;
    -o-animation: fadein 1s 1.5s linear forwards;
    animation: fadein 1ms 1.5ms linear forwards;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 0;
    opacity: 0;
  }
  
  .loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    overflow: hidden;
    -webkit-transform-origin: 50px 50px;
    -moz-transform-origin: 50px 50px;
    -ms-transform-origin: 50px 50px;
    -o-transform-origin: 50px 50px;
    transform-origin: 50px 50px;
    -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
    mix-blend-mode: hard-light;
    opacity: 0.8;
  }
  .loader-line-mask .loader-line {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .loader-line-mask.one {
    -webkit-animation: rotate 2s infinite linear;
    -moz-animation: rotate 2s infinite linear;
    -o-animation: rotate 2s infinite linear;
    animation: rotate 2s infinite linear;
  }
  .loader-line-mask.one .loader-line {
    box-shadow: inset 0 0 0 8px #77C170;
  }
  .loader-line-mask.two {
    -webkit-animation: rotate 1.8s 0.5s infinite linear;
    -moz-animation: rotate 1.8s 0.5s infinite linear;
    -o-animation: rotate 1.8s 0.5s infinite linear;
    animation: rotate 1.8s 0.5s infinite linear;
  }
  .loader-line-mask.two .loader-line {
    box-shadow: inset 0 0 0 8px #F25F5C;
  }
  .loader-line-mask.three {
    -webkit-animation: rotate 2s 1s infinite linear;
    -moz-animation: rotate 2s 1s infinite linear;
    -o-animation: rotate 2s 1s infinite linear;
    animation: rotate 2s 1s infinite linear;
  }
  .loader-line-mask.three .loader-line {
    box-shadow: inset 0 0 0 8px #FFE066;
  }
  .loader-line-mask.four {
    -webkit-animation: rotate 1.8s 1.4s infinite linear;
    -moz-animation: rotate 1.8s 1.4s infinite linear;
    -o-animation: rotate 1.8s 1.4s infinite linear;
    animation: rotate 1.8s 1.4s infinite linear;
  }
  .loader-line-mask.four .loader-line {
    box-shadow: inset 0 0 0 8px #247BA0;
  }
  lesshat-selector {
    -lh-property: 0; } 
  @-webkit-keyframes rotate{ 0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); }}
  @-moz-keyframes rotate{ 0% { -moz-transform: rotate(0deg); } 100% { -moz-transform: rotate(360deg); }}
  @-o-keyframes rotate{ 0% { -o-transform: rotate(0deg); } 100% { -o-transform: rotate(360deg); }}
  @keyframes rotate{ 0% {-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg); } 100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg); }}
  [not-existing] {
    zoom: 1;
  }
  lesshat-selector {
    -lh-property: 0; } 
  @-webkit-keyframes fadein{ 0% { opacity: 0; } 100% { opacity: 1; }}
  @-moz-keyframes fadein{ 0% { opacity: 0; } 100% { opacity: 1; }}
  @-o-keyframes fadein{ 0% { opacity: 0; } 100% { opacity: 1; }}
  @keyframes fadein{ 0% { opacity: 0; } 100% { opacity: 1; }}
  [not-existing] {
    zoom: 1;
  }
  