 .switch input { 
    display:none;
}
.switch {
    display: block;
    width:60px;
    height: 25px;
    margin:4px;
    position:relative;
    margin: 0 auto;
}

.slider {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border-radius:30px;
    box-shadow:0 0 0 2px #777, 0 0 4px #777;
    cursor:pointer;
    border:4px solid transparent;
    overflow:hidden;
     transition:.4s;
}
.slider:before {
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    background:#777;
    border-radius:30px;
    transform:translateX(-30px);
    transition:.4s;
}

input:checked + .slider:before {
    transform:translateX(30px);
    background: #27ae60;
}
input:checked + .slider {
    box-shadow: 0 0 0 2px #27ae60, 0 0 2px #27ae60;
}
