.customGallery .row{
    border-bottom: none !important;
}
.customGallery h2{
    font-size: 16pt;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}
.customGallery .generalImage{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
    display: block;    
    opacity: 0.8;
    transition:opacity 150ms;
    height: 160px;
}
.customGallery .generalImage:hover{
    opacity: 1;
}
