.customPagination {
	
    margin-top: 40px;
        
    padding-bottom: 40px;
    }
    .customPagination li{
        
    border: none;
    }
    .customPagination li a{
        
    border: none;
        
    color: #222;
        
    padding-right: 15px;
        
    padding-left: 15px;
        
    font-weight: 500;
    }
    .customPagination li a i{
        
    color: #222;
    }
    .customPagination .page-item.active .page-link{
        
background-color: #822b8b;
        
border-color: #822b8b;
    }
    .customPagination .page-link:hover{
        
background-color: #822b8b;
        
border-color: #5b3256;
        
color:white;
        
border-color: #822b8b;
    }