.customBlog {
    background: white;
    z-index: 99999999;
    padding-bottom: 50px;
}
.customBlog .centerLink{
    width: 100%;
    text-align: right;
}
.customBlog h2{
    position: relative;
    text-align: center;
    color: #d23856;
    font-weight: 600;
    font-size: 18pt;
    padding-top: 50px;
    padding-bottom: 20px;
}
.customBlog h2:after{
  content: "";
  content: "";
  border-top: 1px solid #d23856;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 65%;
  right: 0;
  width: 40%;
}
.customBlog h2:before{
    content: "";
    border-top: 1px solid #d23856;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 65%;
    left: 0;
    width: 40%;
}
.customBlog .generalImage{
    width: 100%;
    height: 200px;
    background-size: cover !important;
    background-position: center !important;
}
.customBlog .link{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: .9rem;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    transition:color 150ms;
}
.customBlog .link:hover,
.customBlog .link2:hover{
    color: #5b3256;
}
.customBlog .col-md-12 span,
.customBlog .col-md-4 span{
    float: left;
    font-size: .7rem;
    color: #555555;
    font-weight: 700;
    margin-top: 10px;
}
.customBlog .link2{
    float: right;
    text-decoration: none;
    color: #222222;
    font-size: .8rem;
    font-weight: 600;
    margin-top: 9px;
    transition:color 150ms;
}
.customBlog .link3{

background: #d23856;

display: block;

width: 200px;

text-align: right;

text-align: center;

height: 35px;

line-height: 35px;

color: white;

font-weight: bold;

margin-bottom: 20px;

text-decoration: none;

transition:color 150ms;

float: right;
}
.customBlog .link3:hover{
color:#d4d4d4;
}
.formBand h4{
    text-align: center;
    margin-top: 50px;
    font-size: 36pt;
    font-weight: 600;
    color: #506a85;
}
.formBand p{
    text-align: center;
    padding: 15px 50px;
    font-size: 20pt;
    color: #506a85;
}
.formBand a{
    display: block;
    background: #d23856;
    display: block;
    width: 200px;
    text-align: right;
    text-align: center;
    height: 55px;
    line-height: 55px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: none;
    transition: color 150ms;
    /* float: right; */
    margin: 0 auto;
    font-size: 16pt;
    border-radius: 10px;
}
.formBand a:hover{
    color: #d4d4d4;
}
@media only screen and (max-width: 420px) {
  .customBlog .link3{
    position: inherit;
    top:inherit;
    right:inherit;    
}
.customBlog .link {
    text-align:center;
}
.customBlog span {
    margin-bottom:20px;
}
.customBlog h2:before,
.customBlog h2:after {
  width:10%;
}
.customBlog .link3 {
  float:inherit;
  margin:0 auto;
}
}